<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
    <% repositories.each do |repository| %>
      <tr>
        <td><%= repository %></td>
        <td><%= repository %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>