<h1>Search Github public repositories</h1>
<%= form_tag github_repositories_path, :method => 'get', remote: true do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag("Search", :name => nil) %>
<%end%>
 <div id="repos-table">
  <%= render 'repos-table', repositories: [], page: 1 %>
</div> 